.container {
  width: 100%;
  max-width: 100%;
  padding: 20px;
  margin: 0 auto;
}

.row {
  display: flex;
}

nav {
  width: 200px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 20px;
  margin-left: 20px;
  height: auto;
}

nav a {
  color: rgb(0, 0, 0);
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 5px 0;
  text-align: left;
  text-decoration-line: none;
  padding-right: 20px;
  padding-left: 20px;
}

nav a::after {
  content: " >";
  font-size: 18px;
  color: rgb(36, 36, 36);
  padding-left: 5px;
}

nav a:hover {
  background-color: #cadbec;
  border-radius: 5px;
  text-decoration-line: none;
}

.col-md-9 {
  flex: 1;
}

.table-container {
  display: block;
  max-height: 500px;
  margin-top: 20px;
  overflow-x: hidden;
  width: 1200px;
}

.table {
  display: block;
  max-height: 500px;
  overflow-y: visible;
  table-layout: auto;
  border-collapse: separate;
  border-spacing: 0;
}

.table th,
.table td {
  word-wrap: break-word;
  white-space: normal;
  text-align: center;
  padding: 8px 12px;
}

.table th {
  position: sticky;
  top: 0;
  background-color: #cadbec;
  z-index: 1;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form {
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  text-align: center;
}

.login-form h1 {
  margin-bottom: 20px;
  font-size: 24px;
}

.login-form p {
  color: red;
  font-size: 14px;
}

.login-form label {
  display: block;
  margin-top: 10px;
  text-align: left;
  font-size: 14px;
}

.login-form input {
  width: 100%;
  padding: 8px;
  margin: 5px 0 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.login-form button {
  background-color: #007bff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.login-form button:hover {
  background-color: #0056b3;
}

.login-form .register-link {
  margin-top: 10px;
  display: inline-block;
  font-size: 14px;
  color: #007bff;
  text-decoration: none;
}

.login-form .register-link:hover {
  text-decoration: underline;
}
